body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.header {
  background-color: #3f51b5;
  color: white;
  padding: 20px;
  text-align: center;
}

.main-content {
  padding: 20px;
}

.image-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.image-slider img {
  width: 100%;
  height: auto;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
      transform: translateX(0%);
  }
  25% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(-200%);
  }
  75% {
      transform: translateX(-300%);
  }
  100% {
      transform: translateX(0%);
  }
}

.highlight-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.highlight-card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.highlight-card:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  width: 100%;
}

/* Optional: Customize the navigation dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}